@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:"Titillium Web", sans-serif;
    scroll-behavior: smooth;
    

    
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(64, 122, 100, 0.562);
  border-radius: 2px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


:root{
    /* Colors */
    --primary-bg-color:#9B9B9B;
    --primary-font-color:#000000;
    --secondary-font-color:#A4A4A4;
    --secondary-bg-color:#000000;
    --btn-color:#1E2C2E;
    --btn-text-color:#FFFFFF;
    --btn-hover-color:#FFFFFF;
    --btn-hover--text-color:#1E2C2E;
    

    

    /* Fonts sizes*/
    --page-title-title:2.5rem;
    --section-title:2rem;
    --sub-section-title:1.5rem;
    --product-features:1.2rem;
    --label-size:1rem;


    /* Font weight */
    --font-weight-1:100;
    --font-weight-2:200;
    --font-weight-3:300;
    --font-weight-4:400;
    --font-weight-5:500;
    --font-weight-6:600;
    --font-weight-7:700;
    --font-weight-8:800;
    --font-weight-9:900;

    /* Text-size */
    --larger-font-size:2rem;
    --default-font-size:1.2rem;
    --btn-font-size:1rem;
    --section-font-size:1.5rem;
    --secondary-font-size:0.8rem;

    /* Line-height */
    --default-line-height:1.5rem;
    --secondary-line-height:1.2rem;

    /* Z-index */
    --z-index-1:1;
    --z-index-2:2;
    --z-index-3:3;
    --z-index-4:4;
    --z-index-5:5;

    /* Border */
    --border-1:1px solid var(--primary-bg-color);
    --border-2:1px solid var(--secondary-bg-color);
    --border-3:1px solid var(--btn-color);
    --border-4:1px solid var(--btn-text-color);
    --border-5:1px solid var(--btn-hover-color);
    --border-6:1px solid var(--btn-hover--text-color);
    /* Border-radius */

    --border-radius-1:1rem;
    --border-radius-2:0.5rem;
    --border-radius-3:0.2rem;
    --border-radius-4:0.1rem;
    --border-radius-5:0.05rem;
    /* Padding */

    --padding-1:1rem;
    --padding-2:0.5rem;
    --padding-3:0.2rem;
    --padding-4:0.1rem;
    --padding-5:0.05rem;
    /* Margin */

    --margin-1:1rem;
    --margin-2:0.5rem;
    --margin-3:0.2rem;
    --margin-4:0.1rem;
    --margin-5:0.05rem;
    /* Gap */

    --gap-1:1rem;
    --gap-2:0.5rem;
    --gap-3:0.2rem;
    --gap-4:0.1rem;
    --gap-5:0.05rem;

    /* Transitions */

    --transition-1:0.5s;
    --transition-2:0.3s;
    --transition-3:0.2s;
    --transition-4:0.1s;
    --transition-5:0.05s;
    /* Box-shadow */

    --box-shadow-1:0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-2:0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-3:0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-4:0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-5:0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-6: 0px 4px 4px rgba(149, 180, 168, 0.562);

    /* line-height */
    --line-height-1:1.5;
    --line-height-2:1.2; 
    --line-height-3:1.1;
    --line-height-4:1.05;
    --line-height-5:1.01;

    /* Spacing */
    --spacing-0:1rem;
    --spacing-1:0.5rem;
    --spacing-2:0.3rem;
    --spacing-3:0.2rem;
    --spacing-4:0.1rem;
    --spacing-5:0.05rem;

    
}
body{
    background: #FEFFFF;
    overflow-x: hidden; /* Hides horizontal scrollbar */
   
}

/* Start of header  */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-5);
    width: 100%;
    background: var(--primary-bg-color);
    box-shadow: var(--box-shadow-6);
    position: fixed;
    z-index: var(--z-index-5);
    
    
    
}
.logo{
    display: flex;
    align-items: center;
    width: 4%;
    margin-left: 1.75rem;
    padding: var(--padding-2);
}
.light-img{
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: var(--transition-1);
}
.light-img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease var(--transition-1);
}

.links{
    display: flex;
    gap: var(--gap-1);
    list-style: none;
    justify-content: center;
    align-items: center;
 
    
}

.nav_links{
    text-decoration: none;
    font-size: var(--default-font-size);
    color: var(--primary-font-color);
    transition: var(--transition-1);
    font-weight: var(--font-weight-6);
    margin-left: var(--margin-1);
    
}
.dropdown {
    display: inline-block;
    position: relative;
    transition: ease var(--transition-1);
}


.dropbtn {
    background: var(--btn-color);
    color: var(--btn-text-color);
    padding: var(--padding-2);
    border-radius: var(--border-radius-2);
    border: none;
    margin-right: var(--margin-2);
    font-size: var(--btn-font-size);
    cursor: pointer;
    display: inline-block;
}
.dropdown-icon{
    color: black;
    scale: 1.5;
    
  
}
.dropdown-menu {
    min-width: 160px;
    display: none;
    position: absolute;
    z-index: var(--z-index-1);
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    color: var(--btn-text-color);
    border-radius: var(--border-radius-2);
    background: var(--btn-hover-color);
    
    
}

.dropdown-menu a {
    cursor: pointer;
     display: block;    
    font-size: var(--default-font-size);
    color: var(--primary-font-color);
    padding: var(--padding-2);
    text-decoration: none; 
}

.dropdown-menu a:hover {
    background-color: var(--primary-bg-color);
    
}


/* Show dropdown menu when button is hovered */
.dropdown:hover .dropdown-menu {
    display: block;
    
}

.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-2);
    padding: var(--padding-2);
}

.search-input{
    
    padding: var(--padding-3);
    width: 300px;
    max-width: 20rem;
    border-radius: var(--border-radius-3);
    border: 1px solid var(--primary-font-color);
    border: none;
    padding: var(--padding-2);
    margin-right: var(--margin-1);
    color: var(--primary-font-color);
    font-size: var(--default-font-size);
    
    
}
.search-icon{
    background: transparent;
    text-align: center;
    outline: #1E2C2E;
    border: none;
    cursor: pointer;
    scale: 1.5;
}
.cart{
    
    color: var(--primary-font-color);
}

.cart-btn{
    gap: 2rem;
    
}
    

.cart-icon{
    scale: 2;
    cursor: pointer;
}

.dark-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    cursor: pointer;
}
.theme-icons{
    scale:1.7;
    cursor: pointer;
}


/* End of header */

/* Start of main */
 .main-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
   
}

.main-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    height: 100vh;
    gap: var(--gap-1);
    
} 

.bgimg{
    width: 400px;
    position: absolute;
    top: 150px;
    left: 1250px;
    object-fit: cover;
    z-index: -1;
    
    


}
 .main-text{
    position: absolute;
    width: 50%;
    text-align: start;
    border-radius: var(--border-radius-2);
    left: 50px;
    padding: var(--padding-1);
    
} 


.title{
    
    font-size: 44px;
    margin-bottom: var(--margin-1);

}
.description{
    font-size: var(--default-font-size);

    line-height: var(--default-line-height);
    font-weight: var(--font-weight-6);
    margin: var(--margin-4);
}

.btns-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-2);
    margin-top: var(--margin-1);
}
.btns{
    padding: var(--padding-2) var(--padding-1);
    background: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    font-size: var(--btn-font-size);
    border-radius: var(--border-radius-3);
    cursor: pointer;

  
   
}
.btns:hover{
    opacity: .9;
}
.btns-2,
.btn-link{
    border: var(--border-2);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-6);
    cursor: pointer;
    color: var(--primary-font-color);
    background: transparent;
}
.btns-2:hover ,
.btn-link:hover{
    color: var(--btn-hover-color);
    background: var(--btn-hover--text-color);

}
.btn{
    text-decoration: none;
    color: var(--btn-text-color);
}
.btn-link{
    text-decoration: none;
    background: transparent;
    color: var(--primary-font-color);
    border: none;
    
}
/* End of main */

/* Features Section */
.features-section{
    background: #ECEDEF;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0,.5);
    border: 1px solid var(--primary-bg-color);
   
}
.features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: var(--padding-2);
   
}



.features-content{
    
    display: flex; 
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    padding: 6rem;
    transition: ease-in-out var(--transition-1);
}
.model-img{
    width: 400px;
    margin-right: 200px;
    border-radius: var(--border-radius-1);
    transition: ease-in-out var(--transition-1);
    
}
.model-img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(191, 192, 149, 0.5);
    
}

/* End of features */

/* Shop Section */

.all-section{
    width: 100%;
    height: 100vh;
    background: transparent;
    transition: ease-in-out var(--transition-1);

}
.all-section:hover{
    
    box-shadow: 0px 10px 40px rgba(200, 37, 20, 0.562);
}
.all-container{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: var(--padding-2);

    
}
.all-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6rem;
    gap: 12rem;
   
    
    
}
.shop-section{
    transition: ease-in-out var(--transition-1);
}
.shop-section:hover{
    scale: .9;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.all-content{
    width: 50%;
   

}
.shop-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius-1);
    padding: 1.2rem;
    transition: ease-in-out var(--transition-1);
    
}
.shop-content h1{
    font-size: 3rem;
    margin-bottom: var(--margin-1);
}
.shop-content:hover{
    translate: 0px -30px;
    
}
.shop-img{
    width: 300px;
    margin-left: 12rem;
    border-radius: var(--border-radius-1);
    margin-right: 4rem;
    transition: ease-in-out var(--transition-1);
    margin-top: 1.5rem;

}
.shop-description{
    font-size: 1.4rem;
}
.shop-title{
    font-size: 4rem;
    margin-bottom: var(--margin-1);
}   


/* End Section */

/* Ai-section */
.ai-section{
    background: #FEFFFF;
    width: 100%;
    height: 100vh;
    

}
.ai-section:hover{
    border-radius: var(--border-radius-1);
}
.ai-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: ease-in-out var(--transition-1);
    
    
}
.ai-container:hover{
 
    box-shadow: 0px 0px 40px rgba(0,0,0,0.2) ;
}
.ai-text{
    text-align: center;
    margin-bottom: 4rem;
}
.ai-content{
    display: flex;
    justify-content: space-around;
   
}
.ai-card{
   width: 400px;
   text-wrap: wrap;
   transition: ease-in-out var(--transition-1);
}
.ai-card-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
.icons{
    scale: 4;
    cursor: pointer;
}
.ai-icons{
    margin-bottom: 3rem;
}
.ai-img{
    width: 300px;
    border-radius: var(--border-radius-1);
    transition: ease-in-out var(--transition-1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.ai-img:hover{
    
    translate: 0px -30px;
    
}
.ai-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: var(--gap-2);
}
.ai-link{
    text-decoration: none;
    cursor: pointer;
}
/* End of Ai-section */

/* Testimonials */

.testimony-section{
    width: 100%;
    height: 100vh;
}
.tesimony-container{
    display: flex;
    flex-direction: column;
    padding: 4rem;
}
.testimony-content{
    text-align: start;
    align-items: center;
}
.testimony-cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: ease-in-out var(--transition-1);
    border-radius: var(--border-radius-1);
    border: 1px solid black;
    
}
.card:hover{
    box-shadow: var(--box-shadow-1);
    
    translate: 0px -30px;
}
.card-layer{
    padding: var(--padding-2);
}
.card-top{
    flex-direction: column;
    display: flex;
    margin-bottom: var(--margin-2);
}
.rate-icons{
    scale: 1.4;
    margin-right: 0.5rem;
    margin-bottom: var(--margin-1);
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-1);
}
.card-img{
    width: 100px;
    border-radius: var(--border-radius-1);
    object-fit: cover;
    align-items: center;
    display: flex;
}
/*End of Testimonials */

/* Footer */
.footer-secction{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.footer-top{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    border: 1px solid black;
    background: #9B9B9B;
    padding: 4rem;
    text-wrap: wrap;
    border-radius: var(--border-radius-1);

}
.footer-newsletter{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-1);
    align-items: start;
    
}
.footer-img{
    width: 100px;
    scale: .8;
    border-radius: var(--border-radius-4);


}
.input-news{
    margin: 2rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}
.footer-links ul li{
    margin-bottom: var(--margin-1);
    list-style: none;
  
}
.footer-links ul li a{
    text-decoration: none;
    color: var(--primary-font-color); 
    transition: ease-in-out var(--transition-1);
}
.footer-links ul li a:hover{
    text-decoration: underline;
}
.footer-links ul li a i{
   scale: 1.5;
   margin-right: var(--margin-2);
}   
.footer-bottom{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    
}
.footer-bottom-links a{
  text-decoration: none;
  margin-left: var(--margin-1);
  color: var(--primary-font-color);
}
/*End of Footer */